body{
    background-color: rgb(255, 183, 0);
}

.navbarColor{
    background-color: rgba(2, 2, 2, 0.975);
}

.bgImage{
    background-image: url(https://integratec.com/blog/imagenes/trabajo-equipo-productividad.webp);
    background-size: cover;
}

.bgInfo{
    background-color: rgba(0, 0, 0, 0.813);
}
